@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(at 45% 45%, #05b105, #015001);

}

.timer-container {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-timer {
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: red;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #222;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.timer-label {
    font-size: 16px;
    color: #888;
}

#hours, #minutes, #seconds {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.first-title {
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.second-title {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.first-container {
    margin: 30px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens {
    display: none;
}

.container-botao {
    display: flex;
    justify-content: center;
}


.botao {
    cursor: pointer;
    width: 300px;
    display: block;
}

.bonus {
    display: flex;
    justify-content: center;
    background-color: black;
}

.bonus img {
    width: 350px;
}


.img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.img-grande {
    display: none;
    width: 800px;
}

.img-pequena {
    width: 300px;
}

/*tablet*/
@media (min-width: 480px) {
    .botao {
        width: 400px;
    }
    .texto-timer {
        font-size: 1.5em;
    }
    .first-title {
        font-size: 2em;
    }
}

/*laptop*/
@media (min-width: 768px) {

    .img-grande {
        display: block;
    }

    .img-pequena {
        display: none;
    }

    .first-title {
        font-size: 2.7em;
        line-height: 1.5em;
    }

    .second-title {
        font-size: 2.5em;
    }

    .depoimentos {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 50px;
    }
}

/*desktop*/
@media (min-width: 1024px) {
    .first-container {
        margin: 30px 200px 0;
    }

    .img-grande {
        width: 1000px;
    }

    .imagens {
        display: block;
        width: 250px;
    }

    .depoimentos {
        margin: 0 150px;
    }
}

@media (min-width: 1200px) {
    .imagens {
        display: block;
    }
    
    .depoimentos {
        margin: 0 250px;
    }
}




.comment-section {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #f6f7f8;
}

.comments {
    margin-top: 10px;
}

.comment {
    display: flex;
    margin-bottom: 10px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    background-color: #ddd; /* Cor do avatar */
    border-radius: 50%;
    margin-right: 10px;
}

.img-avatar {
    width: 45px;
    border-radius: 50%;
}

.comment-content {
    flex-grow: 1;
}

.comment-text {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment-form {
    margin-top: 10px;
}

#comment-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#comment-button {
    background-color: #1877f2; /* Cor do botão de comentário do Facebook */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.like-button {
    background-color: #1877f2; /* Cor do botão de curtir do Facebook */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.like-button.liked {
    background-color: #3b5998; /* Cor do botão "Curtido" do Facebook */
}

.likes-count {
    margin-left: 10px;
}


