@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(at 45% 45%, #05b105, #015001);

}

.timer-container {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-timer {
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: red;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #222;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.timer-label {
    font-size: 16px;
    color: #888;
}

#hours, #minutes, #seconds {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.first-title {
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.second-title {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.first-container {
    margin: 30px 0 0;
    display: flex;
    justify-content: center;
}

.imagens {
    display: none;
}

.container-botao {
    display: flex;
    justify-content: center;
}
.vsl {
    width: 300px;
    height: 150px;
}

.botao {
    cursor: pointer;
    width: 300px;
    display: block;
}

.bonus {
    display: flex;
    justify-content: center;
    background-color: black;
}

.bonus img {
    width: 350px;
}


.vsl {
    width: 280px;
    height: 157px;
}

.img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.img-grande {
    display: none;
    width: 800px;
}

.img-pequena {
    width: 300px;
}

/*tablet*/
@media (min-width: 480px) {
    .botao {
        width: 400px;
    }
    .texto-timer {
        font-size: 1.5em;
    }
    .first-title {
        font-size: 2em;
    }
    .vsl {
        width: 400px;
        height: 300px ;
    }
}

/*laptop*/
@media (min-width: 768px) {
    .img-grande {
        display: block;
    }

    .img-pequena {
        display: none;
    }

    .first-title {
        font-size: 2.7em;
        line-height: 1.5em;
    }

    .vsl {
        width: 600px;
        height: 450px;
    }

    .second-title {
        font-size: 2.5em;
    }

    .depoimentos {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 50px;
    }
}

/*desktop*/
@media (min-width: 1024px) {
    .img-grande {
        width: 1000px;
    }

    .imagens {
        display: block;
        width: 250px;
    }

    .depoimentos {
        margin: 0 150px;
    }
}

@media (min-width: 1200px) {
    .imagens {
        display: block;
    }
    
    .depoimentos {
        margin: 0 250px;
    }
}


