@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(at 45% 45%, #05b105, #015001);
    padding: 100px 0 30px;

}

.first-title {
    font-size: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.second-title {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.depoimentos {
    height: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.first-container {
    margin: 30px 0 30px;
    display: flex;
    justify-content: center;
}



/*tablet*/
@media (min-width: 480px) {
    img {
        display: none;
    }
    .first-title {
        font-size: 2em;
    }
    .vsl {
        width: 400px;
        height: 300px ;
    }
}

/*laptop*/
@media (min-width: 768px) {
    img {
        display: none;
    }

    .first-title {
        font-size: 2.7em;
        line-height: 1.5em;
    }

    .vsl {
        width: 600px;
        height: 450px;
    }

    .second-title {
        font-size: 2.5em;
    }

    .depoimentos {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 50px;
    }
}

/*desktop*/
@media (min-width: 1024px) {
    img {
        display: block;
        width: 250px;
    }

    .depoimentos {
        margin: 0 150px;
    }
}

@media (min-width: 1200px) {
    .depoimentos {
        margin: 0 250px;
    }
}